@font-face {
  font-family: "BarlowCondensed-Black";
  src: url("../fonts/barlow/BarlowCondensed-Black.ttf") format("truetype");
}

@font-face {
  font-family: "BarlowCondensed-Bold";
  src: url("../fonts/barlow/BarlowCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BarlowCondensed-Regular";
  src: url("../fonts/barlow/BarlowCondensed-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Barlow-Black";
  src: url("../fonts/barlow/Barlow-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow-Bold";
  src: url("../fonts/barlow/Barlow-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Barlow-Regular";
  src: url("../fonts/barlow/Barlow-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}